@inherits LayoutComponentBase

<PageTitle>Employees</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <RadzenComponents />
        <article>
            @Body
        </article>
    </main>
</div>