@page "/Profile"
@using HRApp.Models
@inject TokenProvider tokenProvider
@attribute [Authorize]

<PageTitle>Profile</PageTitle>

<div class="wrapper">
    <div class="profile-container">
        <div class="profile-header">
            <h2>User Profile</h2>
        </div>
        <div class="profile-content">
            <div class="profile-picture">
                <img src="@Picture" alt="Profile Picture" />
            </div>
            <div class="profile-details">
                <h3>@Username</h3>
                <p class="email"><i class="bi bi-envelope"></i> @EmailAddress</p>
            </div>
        </div>
    </div>
</div>