@page "/test-claims"
@using System.Security.Claims
@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
    <Authorized>
        <h3>Claims Test</h3>
        <div>
            <h4>All Claims:</h4>
            <ul>
                @foreach (var claim in context.User.Claims)
                {
                    <li>@claim.Type: @claim.Value</li>
                }
            </ul>

            <h4>Employee ID Claim:</h4>
            @{
                var employeeIdClaim = context.User.FindFirst("employee_id");
                if (employeeIdClaim != null)
                {
                    <p>Employee ID: @employeeIdClaim.Value</p>
                }
                else
                {
                    <p>No employee_id claim found</p>
                }
            }
        </div>
    </Authorized>
    <NotAuthorized>
        <p>Please log in to view claims.</p>
    </NotAuthorized>
</AuthorizeView>